.simpleHbSubmit {
    background: $simple-hb-submit-background-color;
    border: 0;
    color: $simple-hb-submit-color;
    font-size: $simple-hb-submit-font-size;
    line-height: $simple-hb-submit-line-height;
    padding: 1rem 0 .9rem;
}

