layout-device-usage {
    display: flex;
    flex: 1;
}

.layoutDeviceUsage {
    display: flex;
    flex: 1;
}

.layoutDeviceUsage__list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    color: $secondary-colour-2;
    padding: 0;
    margin: 0;
    > li {
        display: flex;
    }
}

.layoutDeviceUsage--horizontal {
    .layoutDeviceUsage__list {
        flex-direction: row;
        flex: 1;
        .layoutDeviceUsage__icon {
            color: $prime-colour-1;
            font-size: 2.8rem;
            margin-top: .5rem;
            margin-right: .5rem;
        }
        .layoutDeviceUsage__label {
            @extend %caption-1;
            color: $secondary-colour-3;
        }
        .layoutDeviceUsage__amount {
            font-weight: 500;
            font-size: 2.8rem;
            height: 1em;
            margin-bottom: .2rem;
            font-family: $font-family-base;
        }
        .layoutDeviceUsage__data {
            display: flex;
            flex-direction: column;
        }
    }
}

.layoutDeviceUsage--vertical {
    justify-content: center;
    .layoutDeviceUsage__list {
        flex-direction: column;
        align-self: center;
        margin: 0;
        > li {
            align-items: baseline;
        }
        .layoutDeviceUsage__icon {
            color: $secondary-colour-3;
        }
        .layoutDeviceUsage__label {
            @extend %caption-2;
        }
        .layoutDeviceUsage__amount {
            font-weight: 600;
            font-size: 1.4rem;
        }
    }
}

.layoutDeviceUsage__icon {
    font-size: 2.8rem;
}
