.mobile-image {
    .feature-img {
        margin: auto;
        display: block;
        max-width: 200px;
        padding-left: 10px;
    }
}

.device-tile__details {
    h2 {
        text-align: left;
    }
}
