.dr-plans-results-summary {
    font-size: $prs-text-fs;
    font-weight: $prs-text-fw;
    float: left;
    margin-top: 40px;
    color: $prs-text-color;
}

.prs-count {
    font-size: $prs-text-count-fs;
    font-weight: $prs-text-count-fw;
    color: $prs-text-count-color;
}
