<div class="swiper-grid">
    <div class="swipers clearfix">
        <div>
            <swiper
                bundle-category-filter="{{ :: $ctrl.bundleCategoryFilter }}"

                sw-select-text="{{ :: $ctrl.selectText }}"
                sw-selected-text="{{ :: $ctrl.selectedText }}"
                sw-price-text="{{ :: $ctrl.priceText }}"
                sw-currency-config="{{ :: $ctrl.currencyConfig }}"
                sw-data-key="{{ :: $ctrl.dataKey }}"
                sw-journey="{{ :: $ctrl.journey }}"
                sw-category="{{ :: $ctrl.filterCategories[0] }}"
                sw-height-category="{{ :: $ctrl.heightCategory }}"

                sw-initial-slide="{{ :: $ctrl.initialSlide }}"
                sw-display-separate-selling-price-text="{{ :: $ctrl.displaySeparateSellingPriceText }}"
                sw-display-saving="{{ :: $ctrl.displaySaving }}"
                sw-saving-text="{{ :: $ctrl.savingText }}"
                sw-layout="{{ :: $ctrl.layoutType }}"
                sw-display-type="{{ :: $ctrl.displayType }}"

                hint-content-url="{{ :: $ctrl.hintContentUrl[0] }}"
                hint-icon="{{ :: $ctrl.hintIcon }}"
                hint-modal-close-icon="{{ :: $ctrl.hintModalCloseIcon }}"
                hint-modal-title="{{ :: $ctrl.hintModalTitle[0] }}"
                hint-modal-size="{{ :: $ctrl.hintModalSize[0] }}"

                sw-select-mode="{{ :: $ctrl.selectMode }}"
            ></swiper>
        </div>
        <div>
            <swiper
                bundle-category-filter="{{ :: $ctrl.bundleCategoryFilter }}"

                sw-select-text="{{ :: $ctrl.selectText }}"
                sw-selected-text="{{ :: $ctrl.selectedText }}"
                sw-price-text="{{ :: $ctrl.priceText }}"
                sw-currency-config="{{ :: $ctrl.currencyConfig }}"
                sw-data-key="{{ :: $ctrl.dataKey }}"
                sw-journey="{{ :: $ctrl.journey }}"
                sw-category="{{ :: $ctrl.filterCategories[1] }}"
                sw-height-category="{{ :: $ctrl.heightCategory }}"

                sw-initial-slide="{{ :: $ctrl.initialSlide }}"
                sw-display-separate-selling-price-text="{{ :: $ctrl.displaySeparateSellingPriceText }}"
                sw-display-saving="{{ :: $ctrl.displaySaving }}"
                sw-saving-text="{{ :: $ctrl.savingText }}"
                sw-layout="{{ :: $ctrl.layoutType }}"
                sw-display-type="{{ :: $ctrl.displayType }}"

                hint-content-url="{{ :: $ctrl.hintContentUrl[1] }}"
                hint-icon="{{ :: $ctrl.hintIcon }}"
                hint-modal-close-icon="{{ :: $ctrl.hintModalCloseIcon }}"
                hint-modal-title="{{ :: $ctrl.hintModalTitle[1] }}"
                hint-modal-size="{{ :: $ctrl.hintModalSize[1] }}"

                sw-select-mode="{{ :: $ctrl.selectMode }}"
            ></swiper>
        </div>
        <div>
            <swiper
                bundle-category-filter="{{ :: $ctrl.bundleCategoryFilter }}"

                sw-select-text="{{ :: $ctrl.selectText }}"
                sw-selected-text="{{ :: $ctrl.selectedText }}"
                sw-price-text="{{ :: $ctrl.priceText }}"
                sw-currency-config="{{ :: $ctrl.currencyConfig }}"
                sw-data-key="{{ :: $ctrl.dataKey }}"
                sw-journey="{{ :: $ctrl.journey }}"
                sw-category="{{ :: $ctrl.filterCategories[2] }}"
                sw-height-category="{{ :: $ctrl.heightCategory }}"

                sw-initial-slide="{{ :: $ctrl.initialSlide }}"
                sw-display-separate-selling-price-text="{{ :: $ctrl.displaySeparateSellingPriceText }}"
                sw-display-saving="{{ :: $ctrl.displaySaving }}"
                sw-saving-text="{{ :: $ctrl.savingText }}"
                sw-layout="{{ :: $ctrl.layoutType }}"
                sw-display-type="{{ :: $ctrl.displayType }}"

                hint-content-url="{{ :: $ctrl.hintContentUrl[2] }}"
                hint-icon="{{ :: $ctrl.hintIcon}}"
                hint-modal-close-icon="{{ :: $ctrl.hintModalCloseIcon }}"
                hint-modal-title="{{ :: $ctrl.hintModalTitle[2] }}"
                hint-modal-size="{{ :: $ctrl.hintModalSize[2] }}"

                sw-select-mode="{{ :: $ctrl.selectMode }}"
            ></swiper>
        </div>
    </div>

</div>

