<form ng-submit="validateAndSubmit()">
    <div class="hb value ng-scope"
         ng-if="!node.schema.enum">
        <span class="hb">{{:: $ctrl.MobileNumber}}</span>
        <span class="hb error"
              ng-show="node.error">{{mobileNumber-validation-title}}</span>
        <input id="account.subscriber.mobileNumber"
               ng-model="node.value"
               class="hb"
               ng-class="{error: node.error}"
               ng-change="node.validate()"
               hb-field="node"></div>
    <div class="hb value ng-scope"
         ng-if="!node.schema.enum">
        <span class="hb">{{:: $ctrl.Pin}}</span>
        <span class="hb error ng-binding ng-hide"
              ng-show="node.error">pin-validation-title</span>
        <input id="account.pin"
               ng-model="node.value"
               class="hb"
               ng-class="{error: node.error}"
               ng-change="node.validate()"
               hb-field="node"></div>
    <input id="submit" class="hb ng-scope" type="submit" value="Submit">
    <input id="clear" class="hb ng-scope" type="button" ng-click="node.resetValue()" value="clear">
</form>