.qr-code {
  margin-top: 40px;

    .qr-image {
      max-height: 230px;
    }

    .light-border {
      border: 1px solid $qrcode-border-color;
      padding: 10px;
    }

    .qr-text {
      display: inline-block;
      padding-left: 25px;
      vertical-align: middle;
    }
}
