.navigation-bar {
    .spec-slider-toggle {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 48px;

        span {
            font-size: $ss-toggle-icon-size;
        }
    }
}

.specs-slider {
    $bg: rgba($ss-mask-bg, 0);

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
       -moz-transition: all 300ms ease;
         -o-transition: all 300ms ease;
            transition: all 300ms ease;
    background: $bg;

    &.specs-slider-open {
        $bg: rgba($ss-mask-bg, $ss-mask-alpha);

        background: $bg;
        visibility: visible;
    }

	.to-label {
		padding-right: 6px;
		padding-left: 3px;
	}

}

.specs-slider-panel {
    position: absolute;
    top: 50px;
    right: -100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    -webkit-transition: all 300ms ease;
       -moz-transition: all 300ms ease;
         -o-transition: all 300ms ease;
            transition: all 300ms ease;
    background: $ss-panel-bg;

    .specs-slider-open & {
        right: 0;
		border-left: 2px solid $ss-panel-border-left-color;
    }
}


.specs-slider-header {
    flex: 0 0 50px;
    $specs-slider-height: 49px;

    .specs-slider-title-bar {
        overflow: hidden;
        height: $specs-slider-height;
        color: $ss-title-bar-color;
        background: $ss-title-bar-bg;

        h1 {
            font-size: $ss-title-bar-fs;
            font-weight: 400;
            line-height: $specs-slider-height;
            float: left;
            margin: 0;
            padding: 0 10px 0 20px;
        }

        a {
            font-size: $ss-title-bar-buttons-fs;
            top: 0;
            float: right;
            width: 79px;
            height: $specs-slider-height;
            text-align: center;
            text-decoration: none;
            color: $ss-title-bar-color;
            border-left: 1px solid $ss-title-bar-btn-border;

            &:before {
                line-height: $specs-slider-height;
            }
        }
    }
}

.specs-slider-stats {
    padding: 12px 20px 5px;
    color: $ss-stats-color;
    border-bottom: 1px solid $ss-stats-border-bottom;
    flex: 0 0 60px;

    h2 {
        font-size: $ss-stats-heading-fs;
        font-weight: $ss-stats-heading-fw;
        margin: 0;
        padding: 0;
        font-family: $ss-stats-heading-font-family;
        span {
            font-size: $ss-stats-heading-price-text-size;
            padding-top: 5px;
        }
    }

    p {
        font-size: $ss-stats-subtext-fs;
        margin: 0;
        font-family: $ss-stats-heading-font-family;
    }

    span {
        color: $ss-stats-price-color;
    }
}

.specs-slider-included-content {
    overflow: hidden;
    flex: 1 1 auto;
    position: relative;

    > div {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    // AEM fix
    // sass-lint:disable class-name-format
    .overlayComponent {
        flex: 0 0 auto;
    }
}

.specs-slider-content {
    overflow: auto;
    flex: 1 1 auto;
}

.specs-slider-facets {
    .specs-slider-facet {
        &:nth-child(odd) {
            background-color: $ss-facet-alertnate-background-color;
        }
    }
}


.specs-slider-footer {
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid $ss-footer-border-top;
    background: $ss-footer-bg;
    flex: 0 0 105px;

    .navigation-bar & {
        button {
            &.btn {
                width: 50%;
                background: $ss-footer-button-bg;
                color: $ss-footer-button-color;
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }
    }
}
