.contractReview {
    display: flex;
    flex-direction: column;
    background-color: $contractReview-background-color;
    padding: 10px;

    &__title {
        flex: 1;
        padding: 5px;
    }
    &__contractsActions-container {
        flex: 2;
        display: flex;
        flex-direction: row;
    }
    &__contractActions-container {
        flex: 1;
        margin: 5px;
    }
}
