.customerInfoBar__print {
    padding: 0 4rem;
    margin: 0;
    position: absolute;
    right: 0;
    top: $customer-info-bar-height;
    list-style: none;
    color: $customer-info-bar-detail-color;
    justify-content: flex-start;
    align-items: stretch;
    
    > li {
        margin-left: 1rem;
    }
    
    .customerInfoBar__icon {
        top: -.1rem;
        font-size: 2rem;
    }
}
