.drctv-prop-sort-by {
    line-height: 40px;
    float: right;
    margin: 40px 0 10px;

    label {
        margin: 0 10px 0 0;
    }

    select {
        line-height: 40px;
        min-width: 70px;
        height: 40px;
        border: $pagination-dd-border;
        border-radius: 5px;
        outline: 0;
    }
}
