<div class="hb data string col-sm-6">
    <label class="hb data string">
        <span ng-if="node.required" class="simpleHb__asterix">*</span>
        {{node.title | translate | emptyTranslate}}
    </label>

    <div class="hb">
        <input type="password" class="hb password form-control" ng-id="{{node.fullName}}" ng-class="{error: node.error}"
               hb-field="node" name="uPass" maxlength="24" ng-hide="formFlags.showpass" ng-model="node.value"
               ng-required validate-pass/>
        <input type="text" class="hb password form-control" name="uPass" maxlength="24" ng-show="formFlags.showpass"
               ng-model="node.value" ng-required validate-pass/>
        <span class="message" ng-show="form.uPass.$dirty && form.uPass.$invalid && node.error">{{node.validationMessage}}</span>
    </div>
        <label class="hb inline">
            <input class="hb form-inline" type="checkbox" name="uShowPass" ng-model="formFlags.showpass" toggle-pass/>Show
            password
        </label>
</div>
