    <div class="hb data string col-sm-6">
        <label class="hb control-label">
            <span ng-if="node.required" class="simpleHb__asterix">*</span>
            {{node.title | translate | emptyTranslate}}
        </label>
        <div class="hb" ng-if="node.schema.enum" hb-enum="node"></div>
        <div class="hb" ng-if="!node.schema.enum">
            <span class="hb error-color" ng-show="node.error">{{ node.validationMessage | translate | emptyTranslate}}</span>
            <input id="{{node.fullName}}" type="text" ng-model="node.value" class="hb form-control" ng-class="{error: node.error}"
                   ng-change="node.validate()" hb-field="node"/>
            <barcode-scanner-field model="node.value"></barcode-scanner-field>
        </div>
        <div class="hb description">
            {{node.description}}
        </div>
    </div>