.contractActions {
    display: flex;
    flex-direction: column;

    &__buttons-container {
        flex: 1;
        display: flex;
        flex-direction: row;
    }
    &__button {
        flex: 1;
        border: solid $contractActions-button-border-color 2px;
        background-color: $contractActions-button-background-color;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}
