uit-title-block {
    display: flex;
}

.uitTitleBlock {
    @extend %caption-1;

    width: 100px;
    padding: $grid-gutter-width / 2;
    background-color: $primary-colour-1;
    color: $prime-colour-4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
