<div class="title-component" ng-switch="$ctrl.tag">
    <h1 ng-switch-when="h1" class="{{ :: $ctrl.alignment }}">{{ :: $ctrl.title | htmlToPlaintext }}</h1>
    <h2 ng-switch-when="h2" class="{{ :: $ctrl.alignment }}">{{ :: $ctrl.title | htmlToPlaintext }}</h2>
    <h3 ng-switch-when="h3" class="{{ :: $ctrl.alignment }}">{{ :: $ctrl.title | htmlToPlaintext }}</h3>
    <h4 ng-switch-when="h4" class="{{ :: $ctrl.alignment }}">{{ :: $ctrl.title | htmlToPlaintext }}</h4>
    <h5 ng-switch-when="h5" class="{{ :: $ctrl.alignment }}">{{ :: $ctrl.title | htmlToPlaintext }}</h5>
    <h6 ng-switch-when="h6" class="{{ :: $ctrl.alignment }}">{{ :: $ctrl.title | htmlToPlaintext }}</h6>
</div>
